<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% if @task.status == "unplanned" %>
        <h1 class="text-center">Unplanned Task</h1>
      <% elsif @task.status == "planned" %>
        <h1 class="text-center">Planned Task</h1>
      <% elsif @task.status == "done" %>
        <h1 class="text-center">Done Task</h1>
      <% elsif @task.status == "deleted" %>
        <h1 class="text-center">Deleted Task</h1>
      <% else %>
        <h1 class="text-center">Unknown Status Task</h1>
      <% end %>

      <p><strong>Short Description: </strong><%= @task.short_description %></p>
      <p><strong>Long Description: </strong><%= @task.long_description %></p>
      <p><strong>Nature: </strong><%= @task.nature %></p>
      <p><strong>Urgency: </strong><%= @task.urgency %></p>

      <% if @task.status == "unplanned" %>
        <p><strong>Duration: </strong><%= @task.duration %></p>
        <p><strong>Attention Date: </strong><%= @task.attention_date %></p>
        <p><strong>Deadline: </strong><%= @task.deadline %></p>
        <p><strong>Expiration Date: </strong><%= @task.expiration_date %></p>
      <% elsif @task.status == "planned" %>
        <p><strong>Planned Date: </strong><%= @task.planned_date %></p>
        <p><strong>Starting Time: </strong><%= @task.starting_time.strftime("%H:%M") %></p>
        <p><strong>Duration: </strong><%= @task.duration + ' minutes' %></p>
      <% elsif @task.status == "done" %>
        <p><strong>Completed Date: </strong><%= @task.removed_date %></p>
                                            <!-- I need to fix this -->
      <% elsif @task.status == "deleted" %>
        <p><strong>Removed Date: </strong><%= @task.removed_date %></p>
      <% end %>

    </div>
  </div>
</div>
<p class="text-center">
  <% if @task.status != "deleted" %>
    <%= link_to "Edit", edit_task_path(@task), class: "btn btn-warning " %>
    <%= link_to "Move to bin", change_status_task_path(@task, status: :deleted), method: :patch, class: "btn btn-danger" %>
  <% end %>
  <%= link_to "Tasks", tasks_path, class: "btn btn-primary"  %>
</p>

<p class="text-center">
  <% if @task.status == "unplanned" %>
    <%= link_to "Move to planned", change_status_task_path(@task, status: :planned), method: :patch, class: "btn btn-primary" %>
    <%= link_to "Mark as done", change_status_task_path(@task, status: :done), method: :patch, class: "btn btn-primary" %>
  <% elsif @task.status == "planned" %>
    <%= link_to "Move to unplanned", change_status_task_path(@task, status: :unplanned), method: :patch, class: "btn btn-primary" %>
    <%= link_to "Mark as done", change_status_task_path(@task, status: :done), method: :patch, class: "btn btn-primary" %>
  <% elsif @task.status == "done" %>
    <%= link_to "Move to unplanned", change_status_task_path(@task, status: :unplanned), method: :patch, class: "btn btn-primary" %>
  <% elsif @task.status == "deleted" %>
    <%= link_to "Move to unplanned", change_status_task_path(@task, status: :unplanned), method: :patch, class: "btn btn-primary" %>
    <%= link_to "Delete Permanently", task_path(@task), method: :delete, class: "btn btn-danger" %>
  <% end %>

</p>


